.single-user-details {
    flex: 2;
    padding: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 0.2rem;
    height: 97%;
}

.actual-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.item-key {
    font-weight: bold;
}

.single-item-grid-list {
    padding-top: 0px !important;
}

@media screen and (max-width : 900px) {
    .single-user-details {
        margin-right: 1rem;
    }

    .single-item-grid-chart {
        padding-top: 0px !important;
    }
}