.featured {
    flex: 3;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart-title, .amount, .message {
    margin: 0 !important;
    padding: 0 !important;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 10px;
}

.featured-chart {
    height: 200px;
    width: 200px;
}

.chart-title {
    font-size: 25px;
    font-weight: bold;
    color: gray;
}

.amount {
    font-size: xxx-large;
}

.message {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.summary {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item {
    display: block;
    text-align: center;
}

.item-title {
    color: gray;
}

.item-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}